@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


.new-sub-item{
    display: none;
}

.myBrand:hover .new-sub-item{
    display: flex;
}

.sub-item-pos{
left: 50%;
transform: translateX(-50%);
}

.sub-item-box {
    background-color: rgba(0,0,0,.7);
    color: #fff;
}

// shop now classes
.shopNow-comp{
    bottom: 50%;
    transform: translateY(50%);
}
.shopNow-comp-type2{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.shopNow-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-120%);
}
