.shipp_list-conten{
     background-color: black;
     width: 100%;
     position: relative;
}

.shipp_list-conten li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 50px;
    padding-left: 50px;
}
 
.shipp_list-conten ul li::before {
    position: absolute;
    left:10px;
    top: -5px;
    /* bottom: 3px; */
    content: "\2022";  
    color: #B78B2E;
    font-weight: bold; 
    font-size: 60px;
}
 @media (max-width:834px) {
    .shipp_list-conten li{
        width: 87%;
    }
 }
    
@media (min-width:1412px)and (max-width:1920px) {
    .shipp_list-conten li{
        // width: 57%;
    }
}