// menu-item
.menu-item {
    width: auto;
    background-color: #fff;
    padding-top: 11px;
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 8px 15px rgba(20, 20, 20, 0.25);

    display: none;
}

.navbar__list-item:hover .menu-item {
    display: block;
}

.submenu {
    width: auto;
    border-radius: 10px;
    background-color: $color-black8;
    padding: 34px 40px;
    display: flex;
    justify-content: space-between;

    &__items {
        padding-top: 50px 0px;
        height: 370px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        &-item {
            margin-right: 150px;
            margin-bottom: 40px;

            a {
                display: flex;
                align-items: center;
            }

            img {
                align-self: flex-end;
                margin-right: 20px;
                width: 40px;
                height: auto;
            }

            &-name {
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                letter-spacing: .1em;
            }

        }

    }

    &__image {
        height: 260px;
        width: 312px;
        padding-top: 34px;
        padding-right: 10px;
        align-self: flex-end;
        margin-bottom: auto;

        & img {
            background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.9));
            height: 100%;
            border-radius: 10px;
        }
    }

    &__button {
        position: absolute;
        bottom: 34px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid $color-off-white87;
    }
}


////////////////////////////////// Media Queries //////////////////////////

@media only screen and (max-width: 600px) {
    .navbar__list-item:hover .menu-item {
        display: none;
    }
}