.border-right{border-right:1px solid red;}
.bg000{background:black; color:#fff; display:inline-block; padding:20px;}
img.PhoneIcon{width:auto; height:32px;}
.img-span{ display:inline-block; padding:0 2px; margin:9px 18px;}
.phone-head{color:#B78B2E; font-size:28px; font-family:'Montserrat';}
.phone-text{font-family:'Montserrat'; font-size:28px; line-height:28px; color:#D1D1D1; font-weight:300; padding-top:20px;}
