
.bg-cs{background-image :url('../../../assests/images/customer-s-bg.svg');
    background-color:#000;
    background-repeat: no-repeat;
    color:#fff;
    display:inline-block;
    height:510px;
    width:100%;
    padding:0 10px;}


.cs-text{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
         }


