/* // $bgImg:'../../../public/assets/images/Customer-Form/assets';
  // background-image: url(#{$bgImg}/customer-s-bg.svg); */
.banner {
  background-image: url(../../../public/assets/images/Customer-Form/assets/customer-s-bg.svg);
  height: 500px;
}