
.shipping_banner{
    width: 100%;
    height: 280px;
    background-image:  url(../../../public/assets/images/shipping/Asset1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.content img {
    text-align: center;
    width: 180px;
}
@media (max-width:1444px) {
    .shipping_banner{
        background-size:contain;
    }
    
}