section{
    background:  #F4F4F4;;
    border-radius: 20px; 
}


@media (max-width:1226px) {
    .sets{
       margin: 0 auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
    } 
}
