////////////////////////////// Buttons //////////////////////////////////

.btn__white {
    color: $color-off-white87;
}

.btn__medium {
    font-size: 12px;
    letter-spacing: .15em;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 5px;
}



.btn__large {
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 17px;
    font-weight: 400;
}


.btn__dark {
    color: $color-off-white87;
    background-color: $color-black8-50;
}

////////////////////////////// Icon Buttons //////////////////////////////////
.btn__icon__white {
    color: $color-off-white87;
}

.btn__icon__small {
    width: 18px;
    height: 18px;
}

.btn__icon__medium {
    width: 22px;
    height: 22px;
}

.btn__icon__large {
    width: 24px;
    height: 24px;
}