.SignUpInput{
     font-family: 'Montserrat', sans-serif;
     color: #353535;
}
 .SignUpInput label{
    color: #353535;
   
 }

.SignUpInput input{
    background-color: #E8E8E8;
    border: none;
    outline:  none;
}