.top-bg{
    background: linear-gradient(109.81deg, #1E1E1E 15.78%, rgba(25, 25, 25, 0.8563) 26.62%, rgba(0, 0, 0, 0.9) 91.24%);
    background-position: bottom;
    background-size: cover;
    padding-bottom: 96px;
}

.bottom-bg{
    /* background: url(../../../assets/images/zimba/summer-collection-bg.jpg) no-repeat top left; */
    background: linear-gradient(102.57deg, #0e0d0d 10.28%, rgba(10, 10, 10, 0.856) 22.14%, rgba(0, 0, 0, .9) 92.79%);
}