.advantage {
    display: flex;

    svg {
        width: 44px;
        height: 27px;
    }

    p {
        display: flex;
        align-items: center;
        padding: auto 0;
        color: $color-gray69;
        font-size: 12.5px;
        line-height: 15px;
        font-weight: 500;
        margin-left: 37px;
    }
}

@media only screen and (max-width: 1200px) {
    .advantage {
        svg {
            width: 29px;
            height: 18px;
        }

        p {
            margin-left: 24px;
        }
    }
}