.email-label {
    color: $color-gray69;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

@media only screen and (max-width: 1400px) {
    .email-label {
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }
}