.email-input {
    display: inline-block;
    width: 523px;
    color: $color-gray69;
    font-size: 18px;
    line-height: 22px;
    padding: 11px 18px;
    background-color: $color-black11;
    border: 1px solid $color-gray45;
}




@media only screen and (max-width: 1500px) {
    .email-input {
        width: 423px;
    }
}

@media only screen and (max-width: 1400px) {
    .email-input {
        padding: 8px 12px;
        width: 350px;
    }
}