.footer-link {
    a {
        color: $color-gray69;
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
    }
}



@media only screen and (max-width: 1400px) {
    .footer-link {
        a {
            font-size: 14px;
            line-height: 30px;
        }
    }
}