.footer-link-heading {
    color: $color-golden45;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}


@media only screen and (max-width: 1400px) {
    .footer-link-heading {
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
    }
}