.legal-text {
    color: $color-gray69;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}


@media only screen and (max-width: 1400px) {
    .legal-text {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }
}