.logo-footer {
    display: inline-block;

    svg {
        width: 84px;
        height: 88px;
    }
}

@media only screen and (max-width: 1400px) {
    .logo-footer {
        svg {
            width: 56px;
            height: 58px;
        }
    }

}