.ropero-text-logo-footer {
    svg {
        width: 260px;
        height: 30.5px;
    }
}




@media only screen and (max-width: 1400px) {
    .ropero-text-logo-footer {
        svg {
            width: 170px;
            height: 20px;
        }
    }
}