.SignInput{
     font-family: 'Montserrat', sans-serif;
     color: #353535;
      
}
 .SignInput label{
    color: #353535;
     /* font-weight: 300; */
 }

.SignInput input{
    background-color: #E8E8E8;
    border: none;
    outline:  none;
}