.arkar-strip-bg {
    background-image: none;
    width: 100%;
}

@media only screen and (min-width: 1080px) {
    .arkar-strip-bg {
        background-image: url("../../public/assets/images/arkar/ourCollectionBg.jpg");
    }
}

.zimba-strip-bg {
    background-image: url("../../public/assets/images/zimba/our-collection-bg.jpg");
    width: 100%;
}

.brownImgBg {
    background-image: none;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .brownImgBg {
        background-image: url("../../public/assets/images/arkar/ourCollectionBg.jpg");
    }
}

.zimba-our-collection-btn,
.lerida-our-collection-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}