.carousel {
    position: relative;
}

.single-right-arrow-slider .swiper-button-next {
    background-image: url(../../public/assets/svg/right-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100px;
    right: 50px;

    /* background-color: red; */
}

.single-right-arrow-slider .swiper-button-prev {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 0;
    /* right: 0; */
    /* transform: translateX(-100%); */
    z-index: 100;
}


.single-right-arrow-slider .swiper-button-prev::after,
.single-right-arrow-slider .swiper-button-next::after {
    display: none;
}

.single-right-arrow-slider .swiper-container.mySwiper {
    padding: 0;
    width: 100%;
    position: static;
}



/* single-right-arrow-slider */

/* zimba-homepage */
/* 
.zimba-hero-slider .swiper-button-prev{
    background-image: none;
    width: 0;
    left: 0;   
}

.zimba-hero-slider .swiper-button-next{   
    background-image: url(../../public/assets/svg/right-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100px;
    right: 50px;
}

.zimba-hero-slider .swiper-button-prev::after,.zimba-hero-slider .swiper-button-next::after{
    display: none;
}

.zimba-hero-slider .swiper-pagination{
    transform: translateX(-50%);
    padding-bottom: 0;
    bottom: 70px;
}

.zimba-hero-slider .swiper-pagination-bullet{
    background-color:white;
}

.zimba-hero-slider .swiper-pagination-bullet-active{
    background-color:#B78B2E;
}

.zimba-hero-btn-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.zimba-hero-slider .slider-logo-size{
    width: 120px;
} */