.Account-input_group{
   width: 80%; 
   font-family: 'Montserrat', sans-serif;
   height: 30px;
}
.child_item{
  position: relative;
  bottom: 15px;
   /* margin: 0 auto; */
}

.content {
  position: relative;
  height: 50px;
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  line-height: 34px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Account-input_group .child_item .sp1{ 
  position: absolute;
  top:-4px;
  width: 100px;
  font-size: 15px; 
} 

.content input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E8E8E8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.content input:checked~.checkmark:after {
  display: block;
  width: 0px;
  height: 0px;
}

.content .checkmark:after {
  left: 6px;
  top: 6px;
  width: 10px;
  height: 10px;
  border: solid #B78B2E;
  border-width: 6px;
}

.checkBox {
  width: 100px;
  display: flex;
}
