
.inputFelid{
    font-family: 'Montserrat', sans-serif;
    color: #D1D1D1;
    /* font-weight: 300; */
}
.inputFelid input{
 border:1px solid #474747;
 color: #D1D1D1;
}
/* Chrome, Safari, Edge, Opera */
.inputFelid input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  color: #D1D1D1;
}

/* Firefox */
.inputFelid input[type=number] {
  -moz-appearance: textfield;
  color: #D1D1D1;
}