.shopping_text2{
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid black; */
    padding-top: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: #606060;
 }