.faqs_container{
    background-image: url(../../../public/assets/images/FAQs/Asset2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.faqs_para{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    color: #FFFFFF;
    /* border:  1px solid red; */
}