.shopping_text1{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: #606060;
    text-align: left;

 }