.border-radius-50percent {
    border-radius: 50%;
}

.font-size-64px {
    font-size: 64px;
}

.line-height-16px {
    line-height: 16px;
}


.width-488px {
    width: 488px;
}



@media only screen and (min-width: 1536px) {
    .width-81px {
        width: 81px;
    }
}

.width-81px {
    width: 60px;
}



@media only screen and (min-width: 1536px) {
    .height-81px {
        height: 81px;
    }
}

.height-81px {
    height: 60px;
}



.height-268px {
    height: 202px;
}

@media only screen and (min-width: 1800px) {
    .height-268px {
        height: 268px;
    }
}

@media only screen and (min-width: 1536px) {
    .height-268px {
        height: 232px;
    }
}