.carousel-heading {
    font-size: 117px;
    line-height: 117px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Cinzel';
    margin-bottom: 50px;
}

.font-black {
    color: $color-black0;
}


.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-bottom: 20px;

    transform: translateX(-50%);
    justify-content: center;


    &-bullet:not(:last-of-type) {
        margin-right: 2px;
    }
}

@media only screen and (min-width: 1024px) {
    .swiper-pagination {
        &-bullet:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

//overwriting the default style written above

.pagination-start {
    .swiper-pagination {
        left: 0;
        transform: translateX(0);
    }
}

//overwriting the default style written in _swiper-bundle.scss
.bullet-margin-left-112px {
    .swiper-pagination {
        left: 112px;
    }
}

//overwriting the default style written in _swiper-bundle.scss
.white-and-golden-bullets {
    .swiper-pagination-bullet {
        background-color: $color-white100;
    }

    .swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: $color-golden45;
    }
}

.swiper-container {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    // width: 100vw;
    // height: 80vh;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}