.debit-card-shadow {
    box-shadow: 1px 2px 5px rgba(183, 139, 46, .5);
}

.font-size-9px {
    font-size: 9px;
}

.line-height-11px {
    line-height: 11px;
}

.width-488px {
    width: 330px;
}

@media only screen and (min-width: 1536px) {
    .width-488px {
        width: 400px;
    }
}

@media only screen and (min-width: 1800px) {
    .width-488px {
        width: 488px;
    }
}