.footer {
    background-color: $color-black11;
    padding: 193px 137px 80px 156px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 130px;
        border-bottom: 1.2px solid gray45;

        &__logo {
            display: flex;
            flex-direction: column;
            align-items: center;

            :not(:last-child) {
                margin-bottom: 29px;
            }
        }

        &__link-and-email-box {
            flex-basis: 58%;
        }
    }

    &__links__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 99px;
    }

    &__email__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        :not(:last-child) {
            margin-right: 5px;
        }
    }

    &__email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .email-label {
            margin-bottom: 27.5px;
        }

        .btn {
            margin-top: 16.5px;
            align-self: flex-start;
        }
    }


    &__legal-text__container {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
}



////////////////////// Media Query //////////////// 

@media only screen and (max-width: 1700px) {
    .footer__content {
        &__link-and-email-box {
            flex-basis: 70%;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .footer {
        padding: 120px 90px 50px 90px;
    }
}

@media only screen and (max-width: 1400px) {
    .footer {
        &__email {
            .email-label {
                margin-bottom: 18px;
            }

            .btn {
                margin-top: 13px;
            }
        }

        &__legal-text__container {
            margin-top: 30px;
        }
    }
}



@media only screen and (max-width: 1400px) {
    .footer {
        padding: 60px 60px 40px 100px;
    }
}