.center-to-width {
    left: 50%;
    transform: translateX(-50%);
}

.bottom-25percent {
    bottom: 25%;
}

.bottom-35percent {
    bottom: 25%;
}

@media only screen and (min-width: 1536px) {
    .bottom-35percent {
        bottom: 35%;
    }
}