@media only screen and (min-width: 1536px) {

    input[type='checkbox'] {
        appearance: none;
        width: 39px;
        height: 39px;
        background: $color-gray91;
        border: 11px solid $color-gray91;
    }

    input[type='checkbox']:checked {
        background: $color-golden45;
    }


    input[type='radio'] {
        appearance: none;
        width: 27.6px;
        height: 27.6px;
        border-radius: 50%;
        background-color: white;
        border: 5px solid white;
        outline: 1px solid $color-golden45;
    }

    input[type='radio']:checked {
        background-color: $color-golden45;
    }
}



input[type='checkbox'] {
    appearance: none;
    width: 30px;
    height: 30px;
    background: $color-gray91;
    border: 8px solid $color-gray91;
}

input[type='checkbox']:checked {
    background: $color-golden45;
}


input[type='radio'] {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid white;
    outline: 1px solid $color-golden45;
}

input[type='radio']:checked {
    background-color: $color-golden45;
}