.new-collection-flex-basis-35percent {
    flex-basis: 35%;
}


.new-collection-flex-basis-39percent {
    flex-basis: 39%;
}

@media only screen and (min-width: 1800px) {
    .new-collection-flex-basis-39percent {
        flex-basis: 39%;
    }
}