.width-468px {
    width: 350px;
}

@media only screen and (min-width: 1280px) {
    .width-468px {
        width: 420px;
    }
}

@media only screen and (min-width: 1536px) {
    .width-468px {
        width: 468px;
    }
}




.height-600px {
    max-height: 600px;
}

.overflow-auto {
    overflow: auto;
}

.black-border-point5px {
    border: .5px solid $color-black0;
}

.black-top-border-point5px {
    border-top: .5px solid $color-black0;
}