.productDetails {
    font-family: 'Montserrat', sans-serif;

    border-right: 1px solid #E8E8E8;
}

.productDetails h6 {
    color: #353535;
}

.productDetails span {
    color: #4C4C4C;
}


.quntity {
    font-family: 'Montserrat', sans-serif;
    border-right: 1px solid #E8E8E8;
    color: #353535;
}


.Myordprice h5 {
    font-family: 'Montserrat', sans-serif;

}

.Myordprice span {
    color: #4C4C4C;
}


.delivery {
    font-family: 'Montserrat', sans-serif;
    color: #353535;
    border-right: 1px solid #E8E8E8;
}

.MyOrd_searchbox input {
    font-family: 'Montserrat', sans-serif;
    background-color: #606060;
    color: #BABABA;
}