.width-486px {
    width: 486px;
}

@media only screen and (max-width: 1800px) {
    .width-486px {
        width: 350px;
    }
}

@media only screen and (max-width: 1024px) {
    .width-486px {
        width: 280px;
    }
}