.social-media-icons-group {

    display: flex;

    :not(:last-child) {
        margin-right: 30px;
    }

    .facebook-icon {
        width: 12px;
        height: 23px;
    }

    .instagram-icon {
        width: 23px;
        height: 23px;
    }

    .twitter-icon {
        width: 28px;
        height: 23px;
    }
}