.msg_style{
    font-family: 'Montserrat', sans-serif;
    color: #D1D1D1;
    font-weight: 300;
}

.msg_style label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.msg_style textarea{
    font-family: 'Montserrat', sans-serif;
    border:1px solid #474747;
}
