.Login_option{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #B78B2E;

}
.Login_option button{

}
.Login_option img{
    width: 70%;
     
}
.Login_option p{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

}