.shipMain_container{
    width: 100%;
    height: 100%;
    background-color: black;
   
}
.shipping_child{
    padding-left: 100px;
    margin-top: 20px;
    padding-bottom: 50px;
    
}
.shipping_child div{
    
    margin-right: 200px;
}
