.OrLine h6{
    font-weight: 300;
    color: #353535;
  max-width: 208px;
  text-align:  center;
  margin: auto;
  position: relative;
}
 .OrLine h6:before{
    content: "";
    width: 90px;
    height: 1px; 
    display: block;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0;
 }
 .OrLine h6:after{
    content: "";
    width: 90px;
    height: 1px;
    display: block;
    background: #000000;
    position: absolute;
    top: 50%;
    right:0;
 }