.left-golden-border{
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #B78B2E;
}

.left-golden-border::after{
    content: "";
    width: 8px;
    padding-bottom: 8px;
    background-color: #B78B2E;
    position: absolute;
    left: -5px;
    transform: rotate(45deg);
}