.text_heading{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    font-style: normal;
    font-weight: 500;
    // font-size: 51px;
    line-height: 62px;
    color: #B78B2E;
 }
  .text_heading h6{
      padding-top: 50px;
  }