COMMON STYLING .left-white-arrow .swiper-button-prev {
    background-image: url(../../public/assets/svg/left-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 75px;
    height: 45px;
    position: absolute;
}

.right-white-arrow .swiper-button-next {
    background-image: url(../../public/assets/svg/right-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 75px;
    height: 45px;
    position: absolute;
}

.right-white-arrow2 .swiper-button-next {
    background-image: url(../../public/assets/svg/right-white-arrow2.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 75px;
    height: 45px;
    position: absolute;
}

.left-black-arrow .swiper-button-prev {
    background-image: url(../../public/assets/svg/left-black-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 75px;
    height: 45px;
    position: absolute;
}

.right-black-arrow .swiper-button-next {
    background-image: url(../../public/assets/svg/right-black-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 75px;
    height: 45px;
    position: absolute;
}

/* Real Arrow */
.hide-left-hidden-arrow .swiper-button-prev,
.hide-right-hidden-arrow .swiper-button-next {
    display: none;
}

.hide-arrow .swiper-button-prev,
.hide-arrow .swiper-button-next {
    display: none;
}

/* ::after Arrow of Real Arrow */
.hide-inbuilt-arrow .swiper-button-prev::after,
.hide-inbuilt-arrow .swiper-button-next::after {
    display: none;
}

.hide-pagination-bullets .swiper-pagination-bullets {
    display: none;
}

.reset-swiper-container .swiper-container {
    width: 100%;
    padding: 0;
    position: static;
}

.reset-swiper-slide .swiper-slide {
    background: none;
}


.white-pagination-bullet .swiper-pagination-bullet {
    background-color: #fff;
}

.golden-pagination-bullet-active .swiper-pagination-bullet-active {
    background-color: #B78B2E;
}

.red-pagination-bullet-active .swiper-pagination-bullet-active {
    background-color: #DB1F2A;
}


/* SPECIFIC COMPONENTS */

/* Zimba Homepage */
.zimba-best-sellers-slider .swiper-container img {
    width: 500px;
    height: 500px;
}

.zimba-best-sellers-slider .swiper-container .icon-size {
    width: 36px;
    height: 36px;
    object-fit: unset;
}

.zimba-best-sellers-slider .swiper-pagination-bullets {
    bottom: -70px;
}

/* Lerida Homepage */
.lerida-hero-slider .slider-logo-size {
    width: 200px;
}

.lerida-hero-slider .swiper-button-next {
    right: 50px;
}

.lerida-hero-slider .swiper-pagination-bullets {
    bottom: 50px;
}

.lerida-hero-btn-position {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.lerida-new-arrivals-slider .swiper-slide {
    background: none;
}

.lerida-new-arrivals-slider .swiper-slide:nth-child(even) img {
    transform: scale(0.8);
    margin-left: -120px;
    z-index: -1;
}

.lerida-new-arrivals-slider .swiper-button-next {
    right: 75px;
}

.lerida-best-sellers-slider .swiper-container img {
    /* width: 500px;
    height: 600px; */
}

.lerida-best-sellers-slider .swiper-container .icon-size {
    width: 36px;
    height: 36px;
    object-fit: unset;
}

.lerida-best-sellers-slider .swiper-button-next {
    /* top: 100px;
    right: 579px; */
    top: 10%;
    right: 31.5%;
}

.lerida-best-sellers-slider .swiper-pagination-bullets {
    bottom: 3%;
}

.lerida-discount-slider .swiper-button-next {
    right: 80px;
}

.lerida-trending-styles-slider .swiper-slide {
    background: none;
}

.lerida-trending-styles-slider .swiper-button-prev {
    top: unset;
    bottom: 10%;
    left: 15%;
}

.lerida-trending-styles-slider .swiper-button-next {
    top: unset;
    bottom: 10%;
    right: 40%;
}

/* About us */
.roperro-brands-slider .swiper-slide-active img {
    transform: scaleY(0.9);
}

.roperro-brands-slider .swiper-slide img {
    transform: scaleY(0.9);
}

.roperro-brands-slider .swiper-slide-next img {
    transform: scale(1);
}

.roperro-brands-slider .slider-logo-size {
    width: 150px;
}

.roperro-brands-slider .swiper-slide .brands-logo-position {
    position: absolute;
    bottom: 20%;
}

.roperro-brands-slider .swiper-slide {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.89) 8.12%, rgba(0, 0, 0, 0) 87.19%);
    opacity: 0.7;
}

.roperro-brands-slider .swiper-slide-next {
    background: none;
    opacity: 1;
}

.roperro-brands-slider .swiper-button-prev {
    left: 0;
    width: 90px;
}

.roperro-brands-slider .swiper-button-next {
    right: 0;
    width: 90px;
}

/* MiGear Homepage */
.migear-hero-slider .btn-position {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.migear-hero-slider .slider-logo-size {
    width: 300px;
}

.migear-hero-slider .swiper-pagination-bullets {
    bottom: 5%;
}

.migear-hero-slider .swiper-button-next {
    right: 5%;
}

.migear-trendy-styles-slider .swiper-button-next {
    right: 0;
}

.migear-new-collection-slider .swiper-button-next {
    right: 10%;
}

.migear-best-sellers-slider .swiper-wrapper>* {
    width: unset !important;
}