.shipp_list-conten1{
     background-color: black;
     width: 100%;
     position: relative;
}

.shipp_list-conten1 li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #FFFFFF;
    padding-left: 50px;
    margin-top: 50px;
}
 
.shipp_list-conten1 ul li::before {
    position: absolute;
    left:10px;
    top: -5px;
    content: "\2022";  
    color: #B78B2E;
    font-weight: bold; 
    font-size: 60px;
}


    
  