.input_group{
    padding-top: 40px;
    width: 100%;
}

.left_side input{
padding-left: 10px;
width: 370px;
height: 45px;
border: none;
background: #E8E8E8;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #353535;
cursor: pointer;
}

.left_side label{
  display: block;
  /* padding-bottom: 20px; */
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: #353535;
}
