
.acForm{
    font-family: 'Montserrat', sans-serif;
    color: black;
    /* font-weight: 300; */
}
.acForm input{
 border:none;
 background: #E8E8E8;
}
.acForm input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}