.product-price {
    display: flex;
    align-items: baseline;

    &>* {
        margin-right: 3px;
    }

    .sales-price {
        font-size: 16px;
        letter-spacing: .5px;
        line-height: 19px;
        font-weight: 600;
    }

    .strikethroughPrice,
    .percent-off {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: .5px;
    }

    .strikethroughPrice {
        text-decoration: line-through;
    }

    .percent-off {
        color: $color-green47;
    }
}