
.bg000{background:black; color:#fff; display:inline-block; padding:20px;}
.headingStyle{color:#B78B2E; font-size:50px; font-family: 'Montserrat'; font-weight:500;}
.paraStyle{font-family: 'Montserrat'; font-weight:300; color:#D1D1D1; line-height:38px; font-size:28px; padding-top:20px;}
  
