.product-tag {
    display: inline-block;
    color: $color-off-white87;
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 600;
    padding: 4px 29px;
    background-color: $color-dusty48;
    border-radius: 5px;
}