.logo {
    color: $color-off-white87;
}

.logo__large {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.55em;
}

.logo__small {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.55em;
    font-weight: 200;
    display: none;
}



@media only screen and (max-width: 750px) {
    .logo__large {
        display: none;
    }

    .logo__small {
        display: block;
    }
}