.Contact-input_group{
  font-family: 'Montserrat', sans-serif;
  color: #353535;
   width: 80%; 
}


.content {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Contact-input_group .child_item .sp1{ 
  position: absolute;
  top: 0px;
  left: 39px;
} 

.content input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E8E8E8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.content input:checked~.checkmark:after {
  display: block;
  width: 0px;
  height: 0px;
}

.content .checkmark:after {
  left: 6px;
  top: 6px;
  width: 10px;
  height: 10px;
  border: solid #B78B2E;
  border-width: 6px;
}

.checkBox {
  width: 100px;
  display: flex;
}


@media (max-width:1279px) {
  .checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  }
  .Contact-input_group .child_item .sp1{ 
    position: absolute;
    top:0px;
  }
 
}
 @media (min-width:1024px) {
  .checkmark {
    position: absolute;
    top: -6px;
    left: 0;
  }
  .Contact-input_group .child_item .sp1{ 
    position: absolute;
    top:3px;
  }
 }
   
 @media (min-width:768px) {
  .checkmark {
    position: absolute;
    top: -5px;
    left: 0;
}
.Contact-input_group .child_item .sp1{ 
      position: absolute;
      top:3px;
      font-size: 11px;
  }
}
