.single-arrow-slider .swiper-button-prev {
    background-image: url(../../svgs/left-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 80px;
    /* position: fixed;
    top: 50%;
    left: 17px;    
    z-index: 100; */
    position: absolute;
    left: 0%;
}

.single-arrow-slider .swiper-button-next {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 0;
    left: 0;
    /* transform: translateX(-100%); */
    z-index: 100;
}


.single-arrow-slider .swiper-button-prev::after,
.single-arrow-slider .swiper-button-next::after {
    display: none;
}

.single-arrow-slider .swiper-container.mySwiper {
    padding: 0;
    width: 100%;
    position: static;
}

/* common style */
.left-white-arrow .swiper-button-prev {
    background-image: url(../../public/assets/svg/left-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100px;
    position: absolute;
}

.right-white-arrow .swiper-button-next {
    background-image: url(../../public/assets/svg/right-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100px;
    position: absolute;
}

.hide-inbuilt-arrow .swiper-button-prev::after,
.hide-inbuilt-arrow .swiper-button-next::after {
    display: none;
}

.reset-swiper-container .swiper-container {
    width: 100%;
    padding: 0;
    position: static;
}


/* COMPONENTS SPECIFIC STYLE */

/* zimba */
.zimba-new-arrivals-slider .swiper-button-prev {
    top: 40%;
    left: 65px;
}

.zimba-new-arrivals-slider .swiper-button-next {
    top: 40%;
    right: 40px;
}

/* .zimba-new-arrivals-slider .swiper-wrapper img:nth-child(2){
    transform: scale(1.5);
} */

.zimba-new-arrivals-slider {
    position: relative;
    bottom: 370px;
}



//////////////// Arkar New Styles ////////////////
.arkar-new-styles .swiper-button-prev {
    background-image: url(../../svgs/left-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 80px;
    position: absolute;
    left: 0%;
}

.arkar-new-styles .swiper-button-next {
    background-image: url(../../svgs/right-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 80px;
    position: absolute;
    right: 0%;
}


.arkar-new-styles .swiper-button-prev::after,
.arkar-new-styles .swiper-button-next::after {
    display: none;
}

.arkar-new-styles .swiper-container.mySwiper {
    padding: 0;
    width: 100%;
    position: static;
}

@media only screen and (min-width: 1024px) {}