.navbar__list-item {
    font-size: 14px;
    line-height: 17px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: $color-off-white87;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;

    padding: 10px 25px;
}

.navbar__list-item:hover {
    // cursor: pointer;
    // border-bottom: 1px solid $color-off-white87;
}



@media only screen and (max-width: 750px) {
    .navbar__list-item {
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar__list-item {
        display: block;
        margin: 0;
        text-align: left;
    }

    .navbar__list-item:hover {
        border-bottom: 1px solid transparent;
    }
}