.text_description{
    display: flex;
    justify-content: center;
}    
.text_description span{
 font-style: normal;
 font-weight: 300;
 font-size: 14px;
 line-height: 24px;
 text-align: center;
 display: block;
 color: #353535;
 width: 370px;
}