.Conten_container{
    background-color: #F9F9F9;
 
      /* border: 1px solid red; */
 }
 
 .child_conten-contain{
    border-bottom: 1px solid #3D3D3D;
    width: 300px;
    margin-left: 80px;
 }

 .child_conten-contain span{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #3D3D3D;
}
.list_conten span{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    color: #606060;
}