.child_right-ques1 p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #212121;
}
.child_right-ques1 span{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #212121;
}
.child_right-ans1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    color: #606060;
    // border-bottom:  1px solid #606060;
}