.arker-hero-slider .swiper-button-prev {
    background-image: url(../../public/assets/svg/left-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 74px;
    left: 102px;
}

.arker-hero-slider .swiper-button-next {
    background-image: url(../../public/assets/svg/right-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 74px;
    right: 102px;
}



.arker-hero-slider .swiper-button-prev::after,
.arker-hero-slider .swiper-button-next::after {
    display: none;
}

.arker-hero-slider .swiper-pagination {
    transform: translateX(-50%);
    padding-bottom: 0;
    bottom: 50px;
}

.arker-hero-slider .swiper-pagination-bullet {
    width: 28px;
    height: 2px;
    border-radius: unset;
    background-color: white;
}

.arker-hero-slider .swiper-pagination-bullet-active {
    background-color: #96351E;
}



.arkar-hero-btn-position {
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
}

.arker-hero-slider .slider-logo-size {
    width: 240px;
}


@media only screen and (min-width: 1024px) {
    .arker-hero-slider .swiper-button-prev {
        width: 80px;
        left: 50px;
    }

    .arker-hero-slider .swiper-button-next {
        width: 80px;
        right: 50px;
    }

    .arker-hero-slider .swiper-pagination-bullet {
        width: 50px;
        height: 3px;
    }
}


/* ZIMBA HOMEPAGE */
/* Hero */
.zimba-hero-slider .swiper-button-prev {
    background-image: none;
    width: 0;
    left: 0;
}

.zimba-hero-slider .swiper-button-next {
    background-image: url(../../public/assets/svg/right-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100px;
    right: 50px;
}

.zimba-hero-slider .swiper-button-prev::after,
.zimba-hero-slider .swiper-button-next::after {
    display: none;
}

.zimba-hero-slider .swiper-pagination {
    transform: translateX(-50%);
    padding-bottom: 0;
    bottom: 70px;
}

.zimba-hero-slider .swiper-pagination-bullet {
    background-color: white;
}

.zimba-hero-slider .swiper-pagination-bullet-active {
    background-color: #B78B2E;
}

.zimba-hero-btn-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.zimba-hero-slider .slider-logo-size {
    width: 120px;
}

/* Trending Styles */
.zimba-trending-styles-slider {
    background: black url("../../public/assets/svg/zimba/logo2.svg") no-repeat left;
    background-size: 300px;
}

.zimba-trending-styles-slider .swiper-slide {
    background-color: unset;
}

.zimba-trending-styles-slider .swiper-slide .slider-logo-size {
    width: 400px;
}

.zimba-trending-styles-slider .swiper-container {
    position: static;

}

.zimba-trending-styles-slider .swiper-button-next {
    right: 3%;
}

@media only screen and (min-width: 1280px) {
    .zimba-trending-styles-slider .swiper-button-next {
        right: 7%;
    }
}

@media only screen and (min-width: 1536px) {
    .zimba-trending-styles-slider .swiper-button-next {
        right: 8%;
    }
}

@media only screen and (min-width: 1800px) {
    .zimba-trending-styles-slider .swiper-button-next {
        right: 11%;
    }
}

.zimba-trending-styles-slider .swiper-pagination-bullet {
    display: none;
}

.zimba-trending-styles-slider .swiper-slide img {
    width: 50%;
}





.arker-slider .swiper-pagination {
    transform: translateX(-50%);
    padding-bottom: 0;
    bottom: 50px;
}

.arker-slider .swiper-pagination-bullet {
    width: 50px;
    height: 3px;
    border-radius: unset;
    background-color: white;
}

.arker-slider .swiper-pagination-bullet-active {
    background-color: #96351E;
}