.navbar {
    width: 100%;
    background-color: $color-black8;
    z-index: 9999;
    position: relative;

    &__logo-and-icons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px 10px 50px;
    }

    &__icons-container {
        color: $color-off-white87;

        .icons {
            display: flex;
            align-items: center;
        }

        :not(:last-child) {
            margin-right: 26px;
        }
    }


    &__icon {
        :not(:last-of-type) {
            margin-right: 16px;
        }

        &-menu {
            display: none;
        }
    }

    &__items-container {
        text-align: center;
    }
}

//////////////////////////////////// MEDIA QUERIES //////////////////////
@media only screen and (max-width: 600px) {

    .navbar {
        padding: 14px 28px 12px 20px;

        &__icon-menu {
            display: inline-block;
            margin-right: 18px;
        }

        &__logo-and-icons-container {
            padding: 0;
            justify-content: start;
        }

        &__logo-box {
            margin-right: auto;
        }


        &__icons-container {
            margin-right: 0;
            display: flex;

            .hide {
                display: none;
            }

            :not(:last-child) {
                margin-right: 21px;
            }
        }

        &__items-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }


    .inactive {
        display: none;
    }
}