////////////////////////////// Icons //////////////////////////////////
.icon {
    position: relative;
}

.icon__tiny {
    height: 12px;
    width: 12px;
}

.icon__small {
    height: 15px;
    width: 15px;
}

.icon__medium {}

.icon__large {
    height: 22px;
    width: 22px;
}

svg {
    width: 100%;
    height: 100%;
}

.icon__subscript-number {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 9px;
    line-height: 11px;
    background-color: $color-black8;
    color: $color-off-white87;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__dot {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $color-red53;
}