.center {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center-y {
    left: 50%;
    transform: translateX(-50%);
}

.bottom-25percent {
    bottom: 25%;
}

.height-10percent {
    height: 10%;
}

.rotate-negative-90{
    transform: rotate(-90deg);
}

.perfect-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-vertically{
    top: 50%;
    transform:translateY(-50%);
}

.center-x{
    left: 50%;
    transform: translateX(-50%);
}